html, body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

b{
    height: 85px;
    font-size: xx-large;
    font-style: italic;
}

#calcolatrice{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    width: 50vw;
    padding: 5px;
    justify-items: center;
    background-color: rgb(112, 224, 37);
}

#schermo{
    text-align: right;
    height: 50px;
    background-color: rgb(0, 247, 255);
}

.pulsante{
    display: flex;
    width: 10vw;
    height: 10vh;
    border-radius: 50%;
    background-color: rgb(189, 181, 181);
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: xx-large;
}

.pulsante:hover{
    background-color: rgb(150, 150, 1);
    cursor: pointer;
}

.pulsante:active{
    background-color: rgb(150, 150, 106);
}

.operatore{
    background-color: orange;
    cursor: pointer;
}

.operatore:hover{
    background-color: orangered;
}

.operatore:active{
    background-color: orangered;
}

#schermo{
    width: 50vw;
    border: none;
    font-size: xx-large;
    padding: 5px;
}

/*matiabdg*/